/* index.css */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #213547;
  background-color: #f0f2f5; /* Cor de fundo da página inteira */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede a rolagem */
}

#root {
  width: 100vw;  /* Ocupa 100% da largura da tela */
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;    /* Centraliza na vertical */
}